body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
h2 {
    color: #0B9446;
    font-family: 'Georgia';
    text-align: center;
  }
  h1 {
    color: #CF1C44;
    font-family: 'Georgia';
    text-align: center;
  }
.nav{
    background-color:#543136;
    color:#ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li{
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > a:link{
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover {
    color: #D8C6B8;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #D8C6B8;
    color: #5E1211;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }